<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-xl p-4 bg-white shadow-md rounded-md">
    <div class="flex items-center space-x-4">
      <div class="flex-shrink-0">
        <img class="w-24 h-24 object-cover rounded-full" src="https://th.bing.com/th/id/R.2cfb61f38dbccba1a413ff2b50bf822a?rik=CbLIfUEWQUqnjQ&pid=ImgRaw&r=0" alt="Foto de perfil">
      </div>
      <div>
        <h1 class="text-xl font-bold text-gray-700">Gredys Enrique Carrillo Perez</h1>
        <p class="text-sm text-gray-500">Medico general</p>
      </div>
    </div>
    <div class="mt-4 grid grid-cols-2 gap-4">
      <div class="mb-4">
        <p class="text-sm font-medium text-gray-600">Fecha de nacimiento</p>
        <p class="text-sm text-gray-700">24 de noviembre de 1998</p>
      </div>
      <div class="mb-4">
        <p class="text-sm font-medium text-gray-600">Direccion</p>
        <p class="text-sm text-gray-700">Jutiapa Guatemala</p>
      </div>
      <div class="mb-4">
        <p class="text-sm font-medium text-gray-600">Estado Civil</p>
        <p class="text-sm text-gray-700">Soltero</p>
      </div>
      <div class="mb-4">
        <p class="text-sm font-medium text-gray-600">Teléfono</p>
        <p class="text-sm text-gray-700">42357805</p>
      </div>

    </div>
    <div class="mb'4">
      <p class="text-sm font-medium text-gray-600">Biografia:</p>
      <p class="text-sm text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eius maxime facilis expedita reiciendis consequuntur, temporibus, perferendis quaerat ullam sapiente, dolore atque dolorem minus nulla suscipit. Incidunt maxime facere itaque.</p>
    </div>
  </div>
</div>
