<!-- sidebar.component.html -->

<div class="h-screen w-64 bg-gray-800 text-white p-4">
  <!-- Logo o título del sidebar -->
  <div class="text-2xl font-semibold mb-4">Mi Sidebar</div>
  <!-- Enlaces de navegación -->
  <ul>
    <li class="mb-2">
      <a routerLink="/inicio" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500 block">
        Inicio
      </a>
    </li>
    <li class="mb-2">
      <a routerLink="/perfil" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500 block">
        Perfil
      </a>
    </li>
    <li class="mb-2">
      <a routerLink="/ajustes" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500 block">
        Ajustes
      </a>
    </li>
    <li class="mb-2">
      <a routerLink="/ajustes" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500 block">
        Perfil
      </a>
    </li>
    <li class="mb-2">
      <a routerLink="/ajustes" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500 block">
        Salir
      </a>
    </li>
  </ul>
</div>
