<div class="fixed top-0 left-0 w-screen h-screen bg-cover bg-center" style="background-image: url('https://th.bing.com/th/id/R.16a7f350cb10affb28584900eaf88b82?rik=q4HUTNek6gE6Rg&pid=ImgRaw&r=0');">
    <div class=" absolute top-4 left-4 bg-indigo-500 text-white p-4 rounded-lg shadow-md">
        <!-- Logo o título del sidebar -->
        <div class="text-2xl font-semibold">Control de expedientes Médicos</div>
        <!-- Enlaces de navegación -->
        <ul class="flex">
            <li class="ml-9">
                <a routerLink="/Perfil" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500">
                    Perfil
                </a>
            </li>
            <li class="ml-6">
                <a routerLink="/dashbor" class="text-white hover:text-indigo-500">
                    Registrar Paciente
                </a>
            </li>
           
            <li class="ml-6">
                <a routerLink="/Sobre Nosotros" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500">
                    Sobre Nosotros
                </a>
            </li>

            <li class="ml-6">
                <a routerLink="/login" class="text-white hover:text-indigo-500">
                    Salir
                </a>
            </li>
        </ul>
    </div>
    